//colors
$cherry:#5C3249;
$withe: #FFF;
$gray: #6C7279;
$red: #FF4343;
$black:#000;
$dark: #2D3033;
$bright_red:#E71414;
//bg_colors
$bg_gray:#BABBC5;
$bg_red:#FF4343;
$bg-bright_red:#E71414;
$bg_blu:#252B49;
$bg_withe:#fff;
$bg_cherry:#5C3249;
// font-size
$small: 18px;
$medium: 24px;
$large: 36px;