.download {
    padding: 114px 0;
}
.download-wrap {
}
.download-title {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.download-text {
    margin-top: 5px;
    display: block;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.download-link {
    @media (max-width:320px){
        width: 280px;
        height: 60px;
    }
    @include link;
    margin: 47px auto 0;
}